@font-face {
  font-family: "Jaldibold";
  src: url("./assets/fonts/jaldi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jaldi";
  src: url("./assets/fonts/jaldi-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  grid-template-rows: 120px 1fr;
  font-family: "Jaldi";
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: center;
  color: #fff;
  background: rgb(44, 44, 44);
  background: linear-gradient(
    270deg,
    rgba(44, 44, 44, 1) 0%,
    rgba(27, 27, 27, 1) 25%,
    rgba(20, 20, 20, 1) 50%,
    rgba(27, 27, 27, 1) 75%,
    rgba(44, 44, 44, 1) 100%
  );
  padding: 0 15px 0 17px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #bdbbbb;
}

.header > h1 {
  display: inline;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}

.header > div > * {
  margin: 0;
  padding: 0;
}

.header > div > h3,
.header > div > a {
  font-size: 1.5rem;
}

.header-links > a.active {
  color: #ffc600;
}

.header-links > a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.header-links > a:hover {
  border-bottom: 1px solid #433ca7;
  padding-bottom: 1px;
}

.header-links > a:visited,
.header-links > a {
  color: none;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  grid-column: -3 / -2;
}

.cart-container {
  display: flex;
  justify-self: end;
  background-color: #4f4848;
  padding: 15px 15px;
  border-radius: 50%;
  cursor: pointer;
}

.home-content {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100vw;
  height: 100svh;
  background-image: url("../public/images/anna-hunko-ajE5goOGzZc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-attr {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  color: #fff;
  margin: 0;
  padding: 0 0 0 17px;
}

.img-attr > a {
  color: #fff;
}

.cta {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  justify-content: end;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 6;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  color: #fff;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.32) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  width: auto;
  height: auto;
  gap: 10px;
  padding: 45px 17px;
  margin: 0;
}

.cta > h2 {
  color: #fff;
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

a > button {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    270deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(33, 59, 186, 1) 100%
  );
  width: 17.7rem;
  height: 4rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.shop-content {
  display: grid;
  grid-template-rows: 120px auto 1fr;
  grid-template-columns: 2fr 8fr;
  height: 100svh;
  overflow: auto;
  background: rgb(44, 44, 44);
  background: linear-gradient(
    270deg,
    rgba(44, 44, 44, 1) 0%,
    rgba(27, 27, 27, 1) 25%,
    rgba(20, 20, 20, 1) 50%,
    rgba(27, 27, 27, 1) 75%,
    rgba(44, 44, 44, 1) 100%
  );
  color: #f3f3f3;
}

.shop-nav {
  display: grid;
  grid-template-rows: 120px 1fr;
  align-self: start;
  grid-row: 1 / -1;
  border-right: 2px solid #737373;
}

.shop-nav > .books-category > h3 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 5px 0 10px 0;
  padding-left: 20px;
}

.books-category {
  display: grid;
  grid-row: -2 / -1;
  align-self: start;
  grid-template-rows: auto;
  gap: 10px;
}

.category {
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: min-content;
  align-self: center;
  padding-left: 20px;
  gap: 1px;
}

.category:hover {
  background-color: #3b3b3b;
  border-radius: 20px;
}

.category > * {
  margin: 0;
  padding: 0;
}


.category > h5 {
  padding: 0 4px 0 3px;
  font-size: 1.1rem;
  opacity: 0.9;
}

.category > h6 {
  font-size: 0.9rem;
  opacity: 0.7;
  text-align: center;
  padding-top: 1px;
}

.shop-books {
  display: grid;
  grid-row: 3 / 4;
}


.search {
  width: 50%;
  height: 30px;
  grid-row: 2 / 3;
  border-radius: 20px;
  background-color: #373737;
  border: none;
  color: #d6cfcf;
  margin: 20px 0 0 20px;
  padding-left: 10px;
}

.search:focus{
  outline: 2px solid #6197e3;
}

.books-display {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(50px, 300px, 400px), 1fr)
  );
  grid-template-rows: repeat(auto-fit, minmax(clamp(100px, 300px, 400px), 1fr));
  grid-row: -2 / -1;
  gap: 20px;
  padding: 40px 0 0 20px;
}

.book {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.book > * {
  margin: 0;
  padding: 0;
}

.book-cover {
  width: 180px;
  height: 230px;
}

@media (max-width: 1000px) {
  .header > h1 {
    grid-column: 1 / 2;
  }

  .header-links {
    grid-column: 3 / 4;
  }

  .cart-container {
    grid-column: -2 / -1;
  }
}
