@font-face {
  font-family: "Jaldibold";
  src: url("./assets/fonts/jaldi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jaldi";
  src: url("./assets/fonts/jaldi-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jaldi";
  margin: 0;
  padding: 0 1rem;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: center;
}

.header > h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.header > div > * {
  margin: 0;
  padding: 0;
}

.shop {
  display: flex;
  align-items: center;
  gap: 2rem;
  grid-column: 2 / 3;
}

.cart-container {
  display: grid;
  grid-column: -2 / -1;

  justify-content: end;
}