@font-face {
  font-family: "Jaldibold";
  src: url("./assets/fonts/jaldi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jaldi";
  src: url("./assets/fonts/jaldi-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/jaldi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  grid-template-rows: auto 1fr;
  font-family: "Jaldi";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  display: grid;
  grid-row: 1 / 2;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  padding: 0 1rem;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: auto;
}

.header > h1 {
  display: inline;
  font-size: 4.5rem;
  padding: 0;
  margin: 0;
}

.header > div > * {
  margin: 0;
  padding: 0;
}

.header > div > h3,
.header > div > a{
  font-size: 1.5rem;
}

a.active {
  color: #ffc600;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

a:hover {
  border-bottom: 1px solid #433ca7;
  padding-bottom: 1px;
}

a:visited,
a {
  color: none;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  grid-column: -3 / -2
}

.cart-container {
  display: flex;
  justify-self: end;
  background-color: #1f1f1f;
  padding: 15px 15px;
  border-radius: 50%;
}

.home-content {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100vw;
  height: 100svh;
  background-image: url("../public/images/anna-hunko-ajE5goOGzZc-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

